
.header {
  background-color: #0b1f3a;
  color: #b8b6b6;
  font-family: var(--custom-font);
  text-shadow: 0px 0px 4px 3px rgb(43, 42, 42);
  display: flex; 
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 35px;  
  color: white;
  padding-top: 10px;
  padding-bottom: 15px; 
  padding-left: 2%;
  margin-bottom: 30px;
}
/* .Navbar {
  position: fixed;
  z-index: 1;
  top: 0;
  background-color: #01b8d8;
  width:100%
} */
.head{
  margin-right: 25px;
}
.hidden {
  display:none;
}
.nav {
  display: block;
  float: left;
  width: 225px;
  height: 180px;
line-height: 37px;
font-family: sans-serif;
text-decoration: none;
text-align: center;
color: rgb(255, 255, 255);
border: 1px solid rgb(221, 219, 219);
border-radius: 15px;
letter-spacing: 3px;
padding-left: 5px;
padding-right:5px;
padding-top:10px;
padding-bottom:2px;
margin: 3px;
margin-bottom:2px;
margin-top: 3px;
background-color: #01b8d8

} 
.nav a {
  margin-top: 1px;
  display: block;
  font-size: 19px;
font-family: sans-serif;
text-decoration: none;
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding-left: 12px;
padding-right:12px;
padding-top:2px;
padding-bottom:2px;
transition: all .35s;  
border-bottom: 1px solid white
}

.nav-button {
  background-color:  #f7f7f7;
  padding-left:15px;
  padding-right: 15px;
  padding-top:10px;
  padding-bottom:10px;
  font-size: 24px;
  border-radius: 8px;
  border-bottom: 1px solid white;
  margin-left:2%;
  margin-top:2%;
}

.nav-button:hover {
  background-color: #01b8d8;
  color: #043942;
  padding-left:16px;
  padding-right: 16px;
  padding-top:10px;
  padding-bottom:10px;
}

.nav a:hover {
background-color: #093f5f;
box-shadow: 0px 1px 2px 1px white;
cursor: pointer;
}


.nav a:active {
  background-color: #093f5f;
  padding-left:25px;
  box-shadow: 0px 4px 5px 2px white;
  }
/* .show-nav{
  position: relative;
  z-index: 1;
  width:100px;
  float: right;
  overflow: hidden;
  } */

@media all and (max-width: 800px) {

 

  .nav {
    display: block;
    float: right;
   position: fixed;
    height: 180px;
  line-height: 29px;
  font-family: sans-serif;
  text-decoration: none;
  text-align: center;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(221, 219, 219);
  letter-spacing: 2px;
  padding-left: 8px;
  padding-right:3px;
  padding-top:2px;
  padding-bottom:5px;
  margin-bottom: 8px;
  
  } 
  nav a:hover {
    background-color: #093f5f;
    box-shadow: 0px 1px 2px 1px white;
    cursor: pointer;
    }
  .show-nav a {
    margin-top: 1px;
    display: block;
    font-size: 20px;
  font-family: sans-serif;
  text-decoration: none;
    text-decoration: none;
    color: rgb(255, 255, 255);
     padding-left: 12px; 
  padding-right:12px; 
  padding-top:2px;
  padding-bottom:2px;
  transition: all .35s;  
  margin-bottom: 8px
  }
  .nav-button {
      padding-left:10px;
      padding-right: 10px;
      padding-top:px;
      padding-bottom:6px;
      font-size: 24px;
      border-radius: 8px;
  }
  .nav-button:hover {
    padding-left:10px;
    padding-right: 10px;
    padding-top:6px;
    padding-bottom:8px;
  }
  
  .mobile {
    display:none
  }
}

