.all {
  display: flex;
  flex-direction: column;
  /* background-color: #01b8d8;  */
  border: 0px solid white;
  border-radius: 15px;
  margin-bottom: 15px;
  margin-top: 0px;
}
/* h1 {
    font-size: 55px;
    font-weight: 700;
    color: #ffffff;
    align-content: center;
} */

.headline h2 {
  color: #ffffff;
  font-size: 32px;
}
h3 {
  font-size: 28px;
  font-weight: 700;
  color: #ffffff;
}
h4 {
  font-size: 20px;
  margin-top: 2px;
  margin-bottom: 1px;
}
h5 {
  font-size: 18px;
  margin: 1px;
}
p {
  font-size: 18px;
  margin: 1px;
}

/* .row { 
    border: none;
    background-color: transparent;
    border-radius: 0px;
    padding-top: 10px;
    align-content: center;
    
   } */
.headline {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: space-around;
  align-content: flex-start;
  background-color: #01b8d8;
  border: 1px;
  border-radius: 20px;
  margin-top: 0px;
  margin-bottom: 5px;
  margin-left: 0px;
  margin-right: 0px;
 
}

.today {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 15px;
  padding-right: 15px;
  justify-content: space-between;
  align-content: center;
  background-color: azure;
  border: 1px;
  border-radius: 20px;
  margin-bottom: 5px;
}
.today div {
  margin: 2px;
  padding: 2px;
}
.today #title {
  font-size: 18px;
  font-weight: 700;
  color: #174163;
  border-bottom: 1px solid white;
  margin-bottom: 2px;
}
/* .col1 {
    background-color:#01b8d8;
    margin-bottom: 1%;
    padding-top: 2%;
    border: 1px solid transparent;
    
    border-radius: 20px;
    align-content: center;
} */
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  /* margin-left: 10px;
    margin-right: 10px; */
  align-content: center;
  background-color: #01b8d8;
  border-radius: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0px;
  margin-right: 0px;
  
}

.headline button,
.today button {
  background-color: floralwhite;
  color: #0b1f3a;
  border: 0px solid white;
  border-radius: 17px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 28px;
  padding-left: 28px;
  text-align: center;
  box-shadow: rgb(54, 54, 54) 0 1px 2px 0;
  margin-top: 8px;
  /* margin-bottom: 5px; */
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 16px;
}

.headline button:hover,
.today button:hover {
  background-color: #0b1f3a;
  color: floralwhite;
  cursor: pointer;
  box-shadow: rgb(54, 54, 54) 0 2px 4px 0;
}

.show {
  height: 100%;
  position: absolute;
  width: 50%;
  margin-left: 8%;
  margin-right: 30%;
  margin-top: -10%;
}
.show-journal {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  text-align: center;
  width: 80%;
  background-color: #82cfe4;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 20px;
  font-size: 25px;
  color: #033755;
  font-weight: 700;
  border: 2px dashed white;
  border-radius: 6px;
  margin-left: 10%;
  margin-top: 5px;

}

.show-journal:hover {
  background-color: #033755;
  color: white;
}
.show-journal p {
  font-size: 16px;
  color: white;
  padding: 2px;
}
.hiddenz {
 position: absolute;
 right:5px;
 bottom:1%;
z-index: 1;
  width: 1%;
  transition: all 1.5s ease-in;
}
.expand-journal {
position: absolute;
background-color: #033755;
z-index: 1;
right: 5px;
top:1%;
width: 60%;
transition: all 1.5s ease-out;

}
.expand-journal h6 {
  width: 150px;
  float: center;
  margin-top: 3px;
  color: white;
  font-size: 17px;
  text-align: center;
  padding: 5px;
  background-color: #022e47;
  border: 1px solid white;
}
.expand-journal h6:hover {
  background-color: #c6e5ee;
  color: #033755;
}


@media all and (max-width: 800px) {
  .show {
    height: 100%;
    position: absolute;
    width: 95%;
    margin-left: 4%;
    margin-right: 8%;
    margin-top: -10%;
  }

  .headline button,
  .today button {
    font-size: 19px;
  }
  .headline {
    padding: 12px;
    margin-top: 5px;
    margin-left: 2px;
    margin-right: 2px;
    
  }
  .headline h2 {
    color: #ffffff;
    font-size: 31px;
    padding: 2px;
  }
  .today {
    padding-left: 18%;
    padding-right: 25%;
    justify-content: space-between;
    align-content: center;
    border: 1px;
    border-radius: 20px;
    margin: 3%;
  }
  .today div {
    margin: 1px;
    padding: 1px;
  }
  .show-journal {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 80%;
    background-color: #82cfe4;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 20px;
    font-size: 28px;
    color: #033755;
    font-weight: 700;
    border: 2px dashed white;
    border-radius: 6px;
    margin-left: 10%;
    margin-top: 15px;
  }
  .show-journal p {
    font-size: 16px;
    color: white;
    padding: 1px;
  }

  .expand-journal {
    position: absolute;
    z-index: 1;
    right: 10px;
    bottom:2%;
    width: 95%;
    transition: all 1s ease-in;
}
.row {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 2px;
  margin-right: 0px;

}

}