.page {
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: azure;
  border: 0px solid gray;
  border-radius: 20px;
  background-color: rgb(64, 193, 216);
  margin: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

.home {
  margin: 4px;
  margin-bottom: 15px;
  border-bottom: azure 3px dashed;
}

#home-head {
  text-align: center;
  font-size: 33px;
  /* color: rgb(247, 244, 73); */
  color: #174163;
  margin-bottom: 5px;
}

#home-list {
  margin-left: 18px;
  font-size: 22px;
  font-weight: 600;
  list-style: square;
  margin-bottom: 15px;
}

h2 {
  font-size: 29px;
  color: white;
  text-align: center;
}
.card {
  border: 1px solid white;
  border-radius: 15px;
  margin: 9px;
  box-shadow: 0px 2px 3px gray;
  background-color: azure;
  padding: 10px;
  min-width: 30%;
  max-width: 40%;
}

.section-title {
  margin: 3px;
  color: #319bb6;
  font-size: 23px;
  font-weight: 650;
  text-align: center;
}
.card p, .card-dash p {
  color: #174163;
  font-size: 20px;
  font-weight: 500;
  margin: 5px;
}
.card h4, .card-dash h4 {
  font-size: 22px;
 margin: 3px 1px;
  color: #1f4069;
  text-align: center;
}
#start-now {
  margin-top: 10px;
  border-top: azure 3px dashed;
  min-width: 75%;
  text-align: center;
  margin-bottom: 20px;
}
#start-now h3 {
  margin-top: 10px;
  /* color: rgb(247, 244, 73); */
  color: #174163;
  margin-bottom: 6px;
  font-size: 29px;
}

button {
  background-color: rgb(247, 244, 73);
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #dae1e6;
  border-radius: 21px;
  box-shadow: 0px 2px 3px #174163;
  font-size: 16px;
  font-weight: 600;
}

button:hover {
  background-color: #174163;
  padding: 18px;
  box-shadow: 0px 3px 4px #174163;
  color: rgb(247, 244, 73);
  border: none;
}

@media all and (max-width: 899px) {
  .page {
    margin-top: 3px;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: space-evenly;
    margin-bottom: 15px;
  }

  .card {
    max-width: 90%;
    margin-left: 2%;
  }
}
